<div class="main">
      <div class="search">
      <%= form_tag request.path, :method => 'get' do %>
      <% content_tag :label do %>
    Search for singer:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
<% end %>
</div>
<h2>It's time to play...</h2>
<h1><%= link_to 'Archivarioke!', topics_path %></h1>

<p><em>Crowdsourced karaoke requests for archivists and those who love them.</em></p>


<h3><%= link_to 'Who\'s Up Next? (Add new request...)', new_topic_path %></h3>

<table>
  <tr>
    <th>This esteemed archivist...</th>
    <th>Should sing...</th>
    <th><span class="heart">&#x2665;</span></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td>"<%= link_to(topic.description, topic) %>"</td>
    <td>&nbsp;<%= pluralize(topic.votes.length, "vote") %>&nbsp;/&nbsp;<%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
  </td>
  </tr>
<% end %>
</table>


<p><%= will_paginate @topics %></p>




</div>
